.background {
  background: url(../../public/assets/images/grand_image.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.shadow_bg_1 {
  background: url(../../public/assets/images/shadow_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow_bg_2 {
  background: url(../../public/assets/images/shadow_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container {
  width: 100%;
  position: relative;
}

.img_container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
