.background {
  background: url(../../public/assets/images/grand_image.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.shadow_bg_1 {
  background: url(../../public/assets/images/shadow_1.png);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow_bg_2 {
  background: url(../../public/assets/images/shadow_2.png);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container {
  width: 100%;
  position: relative;
}

.img_container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navbar_link {
  display: inline-block;
  position: relative;
  color: #344054;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  font-family: "AvenueX", sans-serif !important;
}

.navbar_link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #344054;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar_link:active::after {
  transform: scaleX(1) !important;
  transform-origin: bottom left;
}

@media (max-width: 992px) {
  .shadow_bg_1 {
    background: url(../../public/assets/images/shadow_1.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shadow_bg_2 {
    background: url(../../public/assets/images/shadow_2.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
