.background {
  background: url(../../public/assets/images/grand_image_2.PNG);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.intro_background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../public/assets/images/THE_TEMPLE_1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.floor_background {
  background: url(../../public/assets/images/THE_TEMPLE_2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.mechanical_background {
  background: url(../../public/assets/images/THE_TEMPLE_3.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.electrical_background {
  background: url(../../public/assets/images/THE_TEMPLE_4.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.acoustic_background {
  background: url(../../public/assets/images/THE_TEMPLE_5.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.acoustic_background {
  background: url(../../public/assets/images/THE_TEMPLE_5.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.prospective_background {
  background: url(../../public/assets/images/THE_TEMPLE_6.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.ecc_background {
  background: url(../../public/assets/images/THE_TEMPLE_7.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.shadow_bg_1 {
  background: url(../../public/assets/images/shadow_1.png);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow_bg_2 {
  background: url(../../public/assets/images/shadow_2.png);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_container {
  width: 100%;
  position: relative;
}

.img_container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 992px) {
  .shadow_bg_1 {
    background: url(../../public/assets/images/shadow_1.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shadow_bg_2 {
    background: url(../../public/assets/images/shadow_2.png);
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
